.backgroundDiv{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: cyan;
  }
  
  .theButton{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    margin-left: 45%;
    margin-top: 20%;
    border-radius: 30px;
  }
  
  .custom-button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin-left: 45%;
    margin-top: 5%;
    border-radius: 30px;
  }